*{
	margin:0;
	padding:0;
	line-height:1;
	font-family:Microsoft Yahei;
}
ul, ol,li{
	list-style:none;
}
a{
	text-decoration:none;
	color:inherit;
}
img{
	border:none;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
em, i{
	font-style:normal;
}
.top{
	height: 75px;border-top: 3px solid rgb(48,222,246);border-bottom: 1px solid rgb(48,222,246);
}
.nav{
	width: 1190px;margin:0 auto;
}
.navleft{
	display: block;width: 90px;float: left;padding-top:18px;
}
.navleft span{font-size: 26px;color: rgb(48,222,246);display: block;}
.navadd{width: 88px;height: 30px;background: url(./image/2016-11-28_141146.png) no-repeat
	75px 12px;float: left;border:1px solid #CCC;margin-top:25px;margin-left: 10px;
	position:relative;}
.navadd:hover .navaddress{display: block;}
.navaddress{position: absolute;left:0px;top:32px;width: 360px;height: 326px;border:
	1px solid #ff5517;background: white;display: none;z-index: 99}
.navadd-hover{width: 322px;height: 42px;border-bottom: 1px solid #CCC;margin-left: 20px;
	margin-top: 26px;margin-bottom: 20px;}
.navadd-hover span{font-size: 14px;color: grey;margin-right: 10px; }
.navadd-hover a{font-size: 14px;color: #ff5517;margin-left: 15px;}
.navadd-hover1{width: 322px;height: 28px;margin-left: 20px;float: left;}
.navadd-hover1 span{font-size: 14px;float: left;line-height: 28px;padding-right: 15px;
	border-right: 1px solid #CCC;}
.navadd-hover1 a{margin-left: 14px;line-height: 28px;font-size: 14px;cursor: pointer;}
.navadd-hover2{width: 322px;margin-left: 20px;float: left;}
.navadd-hover2 span{font-size: 14px;float: left;line-height: 28px;padding-right: 15px;
	border-right: 1px solid #CCC;}
.navadd-hover2 a{margin-left: 14px;line-height: 28px;font-size: 14px;cursor: pointer;}
.navadd-hover1 a:hover{color: #ff5517;}
.navadd-hover2 a:hover{color: #ff5517;}
.navmid{float: left;margin-left: 20px;float: left;}
.navmid a{padding:0 17px;font-size: 14px;line-height: 80px;float: left;}
.navmid a:hover{color: #ff5517;cursor: pointer;}
.navmid a.fuwu{position: relative;}
.navmid a.top-words4{
	color: rgb(255,85,23);
}
.fuwu-hover{position: absolute;left: 0px;top:10px;width: 82px;height: 104px;
	border: 2px solid #ff5517;box-shadow: 1px 1px 5px 1px grey;background: white;
	text-align: center;padding-top:12px;display: none;z-index: 5}
.fuwu-hover span{font-size: 14px;line-height: 0px;line-height: 34px;display: block;
	color: grey}
.navmid a:hover .fuwu-hover{display: block;}
.fuwu-hover span:hover{color: #ff5517;}
.nav input{width: 210px;height: 28px;border: 2px solid #CCC;padding-left: 6px;outline: none;
	background: url(./image/2016-11-22_210533.png) no-repeat 192px 8px;float: left;margin-top: 22px;
	margin-left: 15px;line-height: 28px;color: rgb(111,111,111);}
.denglu{margin-left: 64px;float: left;border-right:1px solid grey;height: 18px;margin-top: 32px;}
.denglu a{float: left;font-size: 12px;margin-right: 20px;}
.denglu a:hover{color: #ff5517;cursor: pointer;}
.nav-right{width: 150px;height: 26px;float: left;background: url(./image/phone-num.png) 
	no-repeat 22px ;margin-top: 26px}
.main{
	width: 940px;
	margin:0 auto;
}
.main h1{
	font-size: 24px;
	font-weight: bold;
	padding-left: 266px;
	padding-top: 62px;
	padding-bottom: 30px;
}
.main p{
	font-size: 14px;
	color: rgb(111,111,111);
	line-height: 24px;
}
.main h2{
	font-size: 14px;
	color: rgb(111,111,111);
	padding: 16px 0;
}
.main h3{
	font-size: 14px;
	color: rgb(255,140,0);
	padding-bottom: 10px;
}
.main-img1{
	width: 620px;
	height: 466px;
	background: url(./image/620x465.jpg) no-repeat;
}
.main-img2{
	width: 620px;
	height: 466px;
	background: url(./image/7C77F6BBBC07368127DA017E91C77FF4_620x465.jpg) no-repeat;
}
.main-img3{
	margin-top: 16px;
	width: 620px;
	height: 466px;
	background: url(./image/etrere.jpg) no-repeat;
}
.main-img4{
	width: 620px;
	height: 466px;
	background: url(./image/6BD13D9BA0CC3885EEAD26116B7E9757_620x465.jpg) no-repeat;
}
.main-img5{
	margin-top: 16px;
	width: 620px;
	height: 466px;
	background: url(./image/A22EB0AFFA08606A1EDA8A20EA5B5F43_620x465.jpg) no-repeat;
}
.main-img6{
	margin-top: 16px;
	width: 620px;
	height: 466px;
	background: url(./image/D27A19A6DB5CCC90D969C5750DDE410F_620x465.jpg) no-repeat;
}
.main-img7{
	margin-top: 16px;
	width: 620px;
	height: 466px;
	background: url(./image/5BFCDCEB94B506BD22DFD211136D5F9C_620x465.jpg) no-repeat;
}
.main-img8{
	margin-top: 16px;
	width: 620px;
	height: 466px;
	background: url(./image/3267E4B10D7DF0DA0D2F1D1235AC7505_620x465.jpg) no-repeat;
}
.main-img9{
	width: 620px;
	height: 466px;
	background: url(./image/6840F45391BE18611EC42D3AD6EBFAEF_620x465.jpg) no-repeat;
}
.main-img10{
	width: 620px;
	height: 466px;
	background: url(./image/0E8E95CAA1EA6F951D77C32137631FA6_620x465.jpg) no-repeat;
}
.main-img11{
	width: 620px;
	height: 466px;
	background: url(./image/6166F508B26FCE2D5B388123F43CF48E_620x465.jpg) no-repeat;
}
.main-img12{
	margin-top: 16px;
	width: 620px;
	height: 466px;
	background: url(./image/1EDB577F4F130D0F06AA8809CA20F115_620x465.jpg) no-repeat;
}
.main-img13{
	margin-top: 16px;
	width: 620px;
	height: 466px;
	background: url(./image/4F146A60025F78FB37C70E628C2D2D1C_620x465.jpg) no-repeat;
}
.main-img14{
	margin-bottom: 8px;
	margin-top: 16px;
	width: 620px;
	height: 466px;
	background: url(./image/7C8264746262AE1B09C5A87C8D630DF2_620x465.jpg) no-repeat;
}
.main-img15{
	width: 620px;
	height: 466px;
	background: url(./image/E0AE57655AF9A868D3BE569D9E6D689D_620x465.jpg) no-repeat;
}
.main-img16{
	margin-top: 16px;
	width: 620px;
	height: 686px;
	background: url(./image/B2AE3D37DA50EADE72D6D9B99D684D7E_620x684.jpg) no-repeat;
}
.main-img17{
	margin-bottom: 10px;
	margin-top: 16px;
	width: 620px;
	height: 466px;
	background: url(./image/0607E0D4BD3E215CFBCF2F982A1D20AD_620x465.jpg) no-repeat;
}
.main-img18{
	width: 620px;
	height: 466px;
	background: url(./image/873D19C66E7275679BD32E2DFA754C3F_620x465.jpg) no-repeat;
}
.main-img19{
	margin-top: 16px;
	width: 620px;
	height: 466px;
	background: url(./image/2F1CBBC2FC0E982326FEB6AF8B1400D4_620x465.jpg) no-repeat;
}
.main-img20{
	margin-bottom: 10px;
	margin-top: 16px;
	width: 620px;
	height:466px;
	background: url(./image/C82DBCAA8E51E071872E58A89A642CBE_620x465.jpg) no-repeat;
}
.main-img21{
	width: 620px;
	height:466px;
	background: url(./image/78B1EA0A1419DFBBE594046B55A80709_620x465.jpg) no-repeat;
}
.main-img22{
	margin-top: 16px;
	width: 620px;
	height:466px;
	background: url(./image/35754AC748BF70D69EBF7E075A9CF357_620x465.jpg) no-repeat;
}
.main-img23{
	margin-top: 16px;
	width: 620px;
	height:466px;
	background: url(./image/B9DC990EF32870859C0580E107903325_620x465.jpg) no-repeat;
}
.main-img24{
	margin-top: 16px;
	width: 620px;
	height:466px;
	background: url(./image/425ADC5CF9CC2363E575A03A08099B21_620x465.jpg) no-repeat;
}
.main-img25{
	margin-bottom: 8px;
	margin-top: 16px;
	width: 620px;
	height:466px;
	background: url(./image/BB216C8C357673AD971F673760A43411_620x465.jpg) no-repeat;
}
.main-img26{
	width: 620px;
	height:388px;
	background: url(./image/1FBF2F93F12718D5B3719198DB91B056_620x430.jpg) no-repeat;
}
.main-img27{
	margin-top: 16px;
	width: 620px;
	height:388px;
	background: url(./image/780303F05E03032B20BA0E221138F779_620x394.jpg) no-repeat;
}
.main-img28{
	margin-top: 16px;
	width: 620px;
	height:388px;
	background: url(./image/344EFF1D986CE3032361495F9890E9E8_620x405.jpg) no-repeat;
}
.main-img29{
	margin-top: 16px;
	width: 620px;
	height:388px;
	background: url(./image/67C3C13A6C93373216360E970B6B6640_620x387.jpg) no-repeat;
}
.main-img30{
	margin-top: 16px;
	width: 620px;
	height:388px;
	background: url(./image/13C6A34D1603DA5065ECE39D829021B2_620x399.jpg) no-repeat;
}
.main-img31	{
	margin-top: 16px;
	width: 620px;
	height:466px;
	background: url(./image/C8447B1E7B8F2D0E803323813D31E16D_620x492.jpg) no-repeat;
}
.main-img32{
	margin-top: 16px;
	width: 620px;
	height:466px;
	background: url(./image/2AEB980C7E8670012003D02D56ED136D_620x442.jpg) no-repeat;
}
.main-img33{
	margin-top: 16px;
	width: 620px;
	height:388px;
	background: url(./image/FA3B539A00868448275ABC991A65781F_620x393.jpg) no-repeat;
}
.main-img34{
	margin-top: 16px;
	width: 620px;
	height:466px;
	background: url(./image/80FA467CA359550451CB55690FAB20A6_620x465.jpg) no-repeat;
}
.main-img35{
	margin-bottom: 10px;
	margin-top: 16px;
	width: 620px;
	height:466px;
	background: url(./image/E4CD519C5877FCC6FCC897A690E84123_620x465.jpg) no-repeat;
}
.main-img36{
	margin-top: 8px;
	width: 620px;
	height:466px;
	background: url(./image/69CFEB05A358F84CECF78D2E9BDD28B5_620x465.jpg) no-repeat;
}
.main-img37{
	margin-top: 8px;
	width: 620px;
	height:466px;
	background: url(./image/A7743E81F3432A85ED3342DA818303FD_620x465.jpg) no-repeat;
}
.main-img38{
	margin-bottom: 8px;
	width: 620px;
	height:466px;
	background: url(./image/A7B5078462861C0BB591268BA2AE4834_620x465.jpg) no-repeat;
}
.main-img39{
	width: 620px;
	height:466px;
	background: url(./image/1C784739EDE43605FBFA436AAE74EE75_620x465.jpg) no-repeat;
}
.fixedNav{
	position:fixed;
	right:-40px;
	bottom:50px;
	width:80px;
	height:284px;
	z-index:1;
	transition: all 0.5s;

}
/*.fixedNav:hover{
	width:80px;
}*/
.fixedNav:hover{
	position:fixed;
	right:0px;
}
.fixedNav:hover .anchor span{
	width:auto;
}
.fixedNav div{
	height:34px;
	overflow:hidden;
	background-color:rgb(48,222,246);
	text-indent:14px;
	font-size:14px;
	line-height:34px;
	color:white;
}
.fixedNav a{
	display: block;
	float:left;
	width:100%;
	height:54px;
	overflow:hidden;
	border-bottom:1px solid rgb(230, 230, 230);
	border-left:1px solid rgb(230, 230, 230);
	font-size:12px;
	color:rgb(102, 102, 102);
}
.fixedNav a:hover{
	background-color:white;
}
.fixedNav a span{line-height:76px;padding-left: 14px;}
.fixedNav i{display: none;}
.fixedNav .anchor1{background: url(./image/icon2_01.png) no-repeat 16px 10px;cursor: pointer;background-color:rgb(247, 247, 247);}
.fixedNav .anchor2{background: url(./image/icon2_02.png) no-repeat 14px 10px;cursor: pointer;background-color:rgb(247, 247, 247);}
.fixedNav .anchor3{background: url(./image/icon2_11.png) no-repeat 16px 10px;cursor: pointer;background-color:rgb(247, 247, 247);}
.fixedNav .anchor4{background: url(./image/icon2_04.png) no-repeat 16px 10px;cursor: pointer;background-color:rgb(247, 247, 247);}
.fixedNav .anchor1:hover{background: url(./image/icon2_07.png) no-repeat 16px 10px;background-color:white;}
.fixedNav .anchor2:hover{background: url(./image/icon2_08.png) no-repeat 16px 10px;background-color:white;}
.fixedNav .anchor3:hover{background: url(./image/icon2_13.png) no-repeat 16px 10px;background-color:white;}
.fixedNav .anchor4:hover{background: url(./image/icon2_09.png) no-repeat 16px 10px;background-color:white;}
.top-scroll{
	position:fixed;
	right:0px;
	bottom:52px;
	width: 52px;
	height: 24px;
	background-color: black;
	z-index:1;
	text-align: center;
	cursor: pointer;
}
.top-scroll span{color: white;font-size: 12px;line-height: 24px;}
.bottomNav{height: 400px;background: rgb(31,31,31);margin-top: 30px;}
.bottomNa1{width: 1180px;margin:0 auto;}
.bottomNav h1{color: rgb(113,113,113);font-size: 12px;display: block;float: left;}
.endtop span{color: white;float: left;font-size: 14px;font-weight:bold;}
.endtop ul{width: 190px;height: 130px;float: left;padding-top: 16px;}
.everyul{width: 190px;float: left;padding-top: 34px;}
.endtop ul li{font-size: 12px;color: rgb(113,113,113);line-height: 24px;cursor: pointer;}
.endtop ul li:hover{text-decoration: underline;}
.weixin{width: 200px;height: 140px;float: left;background: url(./image/erweima.png) no-repeat 60px 34px;
	}
.weixin span{font-size: 14px;padding-top: 116px;padding-left: 22px;color: rgb(113,113,113);}
.endmid{width: 200px;height: 100px;background: cyan;float: left;display: block;}
.bottommid span{color: rgb(113,113,113);font-size: 12px;padding-right: 16px;}
.bottommid a{color: rgb(113,113,113);font-size: 12px;margin: 8px;line-height: 26px;}
.bottommid a:hover{color: rgb(255,87,26);}
.bottomend a{color: rgb(113,113,113);font-size: 12px;margin-right: 26px;}
.footerdiv{margin-top: 28px;margin-bottom: 16px;width: 100%;height: 36px;border-top:1px solid #CCC;
	padding: 8px 0;border-bottom: 1px solid #CCC;}
.footerdiv a{font-size: 12px;line-height: 18px;}
.footerdiv a:hover{text-decoration:underline;}